<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary mb-3" asp-controller="Users" asp-action="Index">Atras</a>
    </div>

</div>

<div class="alert alert-success col-md-4" role="alert">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <p>ID: <span>@Model.Id</span></p>
    <p>Nombres: <span>@Model.Name</span></p>
    <p>Apellidos: <span>@Model.LastName</span></p>
    <p>Email: <span>@Model.Email</span></p>
    <p>Fecha nacimiento: <span>@Model.BirthDate</span></p>
    <p>Numero celular: <span>@Model.CellPhone</span></p>
  </div>
</div>