<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary mb-3" asp-controller="Products" asp-action="Index">Atras</a>
    </div>

</div>

<div class="alert alert-success col-md-4" role="alert">
    <p>ID: <span>@Model.Id</span></p>
    <p>Nombre: <span>@Model.Name</span></p>
    <p>Descripcion: <span>@Model.Description</span></p>
    <p>Precio: <span>@Model.Price</span></p>
    <p>Cantidad: <span>@Model.Amount</span></p>
    <p>Fecha Expiracion: <span>@Model.ExpirationDate</span></p>
</div>